!!! 5
%html
  %head
    %title RubySur | Usuarios de Ruby de América del Sur
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="css/main.css" type="text/css")
    %link(href="http://fonts.googleapis.com/css?family=Molengo&subset=latin" rel="stylesheet" type="text/css")
    <link href="http://fonts.googleapis.com/css?family=Vollkorn&subset=latin" rel="stylesheet" type="text/css">

    /[if lt IE 9]
      %script(src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js")

  %body
    %header
      %section
        %h1
          RubySur

        %h2 Usuarios de Ruby de América del Sur

        %ul
          %li Lista de correo: <a href="http://groups.google.com/group/rubysur/subscribe">rubysur</a> en Google Groups.
          %li Canal de IRC: <a href="irc://irc.freenode.net/#rubysur">#rubysur</a> en Freenode.
